@import "@/assets/scss/var.scss";

// 文字
.text1 {
  font-size: 0.25rem;
}

.text2 {
  font-size: 0.50rem;
}

.text3 {
  font-size: 0.75rem;
}

.text4 {
  font-size: 1rem;
}

.text5 {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}