@import "@/assets/scss/btn.scss";
@import "@/assets/scss/div.scss";
@import "@/assets/scss/font.scss";
@import "@/assets/scss/title.scss";
@import "@/assets/scss/var.scss";

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}

div {
  box-sizing: border-box;
}

a, button, img {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  box-sizing: border-box;
  color: inherit;
  border-style: none;
}

.emoji-btn {
  cursor: pointer;
  font-size: 1.3rem;
}

.emoji-btn-active {
  cursor: pointer;
  font-size: 1.3rem;
  color: #66b1ff;
}

.comment-textarea {
  font-size: 0.875rem;
  color: #555 !important;
  outline: none;
  padding: 10px 5px;
  min-height: 88px;
  resize: none;
  width: 100%;
  border-radius: 4px;
}


#v3-img-preview-container-id .v-images-wrap {
  z-index: 1100;
}

#v3-img-preview-container-id .img-container {
  z-index: 1100;
}

#v3-img-preview-container-id .arrow, #v3-img-preview-container-id .v3-img-preview-toolbar, #v3-img-preview-container-id .close-btn {
  z-index: 1101;
}

.separator {
  margin: 0 6px;
}