@import "@/assets/scss/btn.scss";
@import "@/assets/scss/div.scss";
@import "@/assets/scss/font.scss";
@import "@/assets/scss/title.scss";
@import "@/assets/scss/var.scss";

body {
  padding:0;
  margin:0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

div{
  box-sizing:border-box;
}

#v3-img-preview-container-id .v-images-wrap {
  z-index: 1100;
}

#v3-img-preview-container-id .img-container {
  z-index: 1100;
}

#v3-img-preview-container-id .arrow, #v3-img-preview-container-id .v3-img-preview-toolbar, #v3-img-preview-container-id .close-btn {
  z-index: 1101;
}