// 基础色
$black: #000;
$white: #fff;

// 灰色系
$gray-darker: #222;
$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$gray-lighter: #eee;

// 蓝色系
$blue-darker: #001f3f;
$blue-dark: #0074D9;
$blue: #3498DB;
$blue-light: #7FDBFF;
$blue-lighter: #C7E9FF;

// 绿色系
$green-darker: #004D00;
$green-dark: #2ECC40;
$green: #00FF00;
$green-light: #8FED8F;
$green-lighter: #D2FED2;



// 页面背景色
$page-bg: #f5f5f5;

// 组件默认色
$default-color: $gray-light;
$default-border: $gray-lighter;
$default-bg: $white;

